:root {
    --primary-color: #ff726f;
    --secondary-color: #ffd045;
    --background-color: #1b1d26;
    --body-background-image: linear-gradient(to right, #30343f, #1b1d26);
    --section-background-color: linear-gradient(to top, #3b3e4a, #2c2f3e);
    --image-gradient: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
    --imp-text-color: #f5b942;
    --navbar-bg-color: #1a1c24;
    --webkit-scrollbar-track-background: #2e313f;
    --navbar-bg-color-blur: blur(15px);
    --navbar-shadow-color: rgba(0,0,0,0.3);
    --scrollbar-track-color: var(--scrollbar-track-color);
    --scrollbar-thumb-color: #f5b942;
    --scrollbar-thumb-color-hover: #ffd045;
    --navbar-bg-color-responsive: #2e313f;
    --navbar-brand-text-color: #fff;
    --home-social-icons-background: rgba(255, 255, 255, 0.972);
    --footer-background-color: #1a1c24;
    --project-card-view-box-shadow: rgba(255, 114, 111, 0.4);
    --project-card-view-hover-box-shadow: rgba(255, 208, 69, 0.7);
    --blog-card-view-box-shadow: rgba(255, 208, 69, 0.7);
    --blog-card-view-hover-box-shadow: rgba(255, 114, 111, 0.4);
    --tech-icons-border: #f5b942;
    --tech-icons-box-shadow: rgba(0, 0, 0, 0.3);
    --tech-icons-hover-border: #ffd045;
    --project-card-view-color: white;
    --button-hover-color: #ffd045;
    --button-color: #f5b942;
    --resume-section-color: white;
    --resume-border: #f5b942;
    --resume-background: #2c2f3e;
    --resume-background-before: #f5b942;
    --main-name-color: #fff;
    --Typewriter__wrapper-color: #ffd045;
    --Typewriter__cursor-color: #fff;
    --home-social-icons-before-background: #f5b942;
    --home-social-icons-hover--before-box-shadow: #ffd045;
    --home-social-icons-hover-color: #fff;
    --icon-colour-color: #fff;
    --btn-primary-color: #fff;
    --btn-primary-background-color: #f5b942;
    --btn-primary-border-color: #f5b942;
    --btn-primary-hover-color: #fff;
    --btn-primary-hover-background-color: #ffd045;
    --btn-primary-hover-border-color: #ffd045;
    --blockquote-footer-color: #fff;
    --navbar-nav-and-link-color: #fff;
    --home-content-color: white;
    --home-about-description-color: #d2d2d2;
    --home-about-social-color: #d2d2d2;
    --footer-h3-color: #d2d2d2;
    --blog-card-view-color: white;
    --blog-link-color: #f5b942;
    --project-heading-color: #fff;
    --about-section-color: #fff;
    --quote-card-view-color: #fff;
}
