:root {
    --primary-color: #be50f4;
    --secondary-color: #c95bf5;
    --background-color: #0c0513;
    --body-background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
    --section-background-color: linear-gradient(to bottom left, rgba(17, 16, 16, 0.582), rgba(12, 8, 24, 0.904));
    --image-gradient: linear-gradient(to bottom left, rgba(17, 16, 16, 0.678), rgba(12, 10, 22, 0.863));
    --imp-text-color: #c770f0;
    --navbar-bg-color: #1b1a2ea9;
    --webkit-scrollbar-track-background: #2d1950;
    --navbar-bg-color-blur: blur(15px);
    --navbar-shadow-color: rgba(9, 5, 29, 0.171);
    --scrollbar-track-color: var(--scrollbar-track-color);
    --scrollbar-thumb-color: rgba(178, 121, 216, 0.959);
    --scrollbar-thumb-color-hover: rgba(222, 130, 235, 0.911);
    --navbar-bg-color-responsive: #181a27;
    --navbar-brand-text-color: rgb(250, 250, 250);
    --home-social-icons-background: rgba(255, 255, 255, 0.972);
    --footer-background-color: rgb(10, 4, 22);
    --project-card-view-box-shadow: rgba(119, 53, 136, 0.459);
    --project-card-view-hover-box-shadow: rgba(129, 72, 144, 0.561);
    --blog-card-view-box-shadow: rgba(145, 77, 161, 0.459);
    --blog-card-view-hover-box-shadow: rgba(155, 88, 173, 0.65);
    --tech-icons-border: rgba(200, 137, 230, 0.637);
    --tech-icons-box-shadow: rgba(89, 4, 168, 0.137);
    --tech-icons-hover-border: rgba(197, 115, 230, 0.883);
    --project-card-view-color: white;
    --button-hover-color: #a24dd386;
    --button-color: #934cce5e;
    --resume-section-color: white;
    --resume-border: #8a49a8;
    --resume-background: #5234795d;
    --resume-background-before: #fff;
    --main-name-color: #cd5ff8;
    --Typewriter__wrapper-color: #be6adf;
    --Typewriter__cursor-color: #b562d6;
    --home-social-icons-before-background: #68187a;
    --home-social-icons-hover--before-box-shadow: #801f95;
    --home-social-icons-hover-color: #87209e;
    --icon-colour-color: #700c86;
    --btn-primary-color: #fff;
    --btn-primary-background-color: #623686;
    --btn-primary-border-color: #623686;
    --btn-primary-hover-color: #fff;
    --btn-primary-hover-background-color: #6d20c5d7;
    --btn-primary-hover-border-color: #6d20c5d7;
    --blockquote-footer-color: #a588c0;
    --navbar-nav-and-link-color: white;
    --home-content-color: whitesmoke;
    --home-about-description-color: white;
    --home-about-social-color: white;
    --footer-h3-color: white;
    --blog-card-view-color: white;
    --blog-link-color: white;
    --project-heading-color: white;
    --about-section-color: white;
    --quote-card-view-color: white;
}